<section class="container contentwrap">

	<div class="row">
		<div class="col col--6-of-12">
			<h1>Bikes on Sale</h1>
		</div>
		<div class="col col--6-of-12 col col--ab">
			<a href="#" class="showall">View All</a>
		</div>
	</div>
	<!-- <div class="row">
		<div class="col col--12-of-12">
			<div class="divider"></div>
		</div>
	</div> -->

	<div class="row contentwrap">
		<div class="col col--3-of-12">
			<img class="img-responsive" src="img/bikes/1.png" alt="">
			<h2>Bike name 001</h2>
			<p class="price"><span class="oldprice">120</span> E 90 E</p>
			<p class="soldout">Sold Out</p>
		</div>
		<div class="col col--3-of-12">
			<img class="img-responsive" src="img/bikes/2.jpg" alt="">
			<h2>Bike name 002</h2>
			<p class="instock">In Stock</p>
		</div>
		<div class="col col--3-of-12">
			<img class="img-responsive" src="img/bikes/3.jpg" alt="">
			<h2>Bike name 003</h2>
			<p class="instock">In Stock</p>
		</div>
		<div class="col col--3-of-12">
			<img class="img-responsive" src="img/bikes/3.jpg" alt="">
			<h2>Bike name 003</h2>
			<p class="instock">In Stock</p>
		</div>
	</div>

</section>
