<section class="container-fluid miansliderbcg">
	<div class="container">
		<div class="row">
			<div class="col col--12-of-12">
				<section class="lazy slider" data-sizes="50vw">
					<div>
						<img class="img-responsive" data-lazy="img/mainslider/image1.png">
					</div>
					<div>
						<img class="img-responsive" data-lazy="img/mainslider/image2.png">
					</div>
				</section>
</div>

		</div>
	</div>
</section>




  <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <script src="./slick/slick.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).on('ready', function() {
      $(".lazy").slick({
        lazyLoad: 'ondemand', // ondemand progressive anticipated
        infinite: true
      });
    });
</script>
