<nav class="container">

    <div class="row">
      <div class="col col--12-of-12">
        <ul class="topuppernav">
          <li><a href="#">Buyer Protection</a></li>
          <li>
          <div class="dropdown">
            <button class="dropbtn">Currency</button>
            <div class="dropdown-content">
              <a href="#">Currency 1</a>
              <a href="#">Currency 2</a>
              <a href="#">Currency 3</a>
            </div>
          </div>
        </Li>
          <li>
          <div class="dropdown">
            <button class="dropbtn">Language</button>
            <div class="dropdown-content">
              <a href="#">Language 1</a>
              <a href="#">Language 2</a>
              <a href="#">Language 3</a>
            </div>
          </div>
        </Li>
        </ul>
      </div>
    </div>


    <div class="row">
        <div class="col col--2-of-12 col col--m-1-of-2 col col--s-1-of-2">
          <a href="index.html" class="logo"></a>
        </div>
        <div class="col col--10-of-12 col col--m-1-of-2 col col--s-1-of-2">
    			<ul>
            <!-- <li>
              <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
                <input type="text" placeholder="Search.." name="search2">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </li> -->
            <li class="hideonphone wishlist"><a href="login.html">Wish List</a></li>
            <li class="hideonphone cart"><a href="login.html">Cart (0)</a></li>
    				<li class="hideonphone avatar"><a href="login.html">Sign In</a> | <a href="login.html">Join</a></li>
            <!-- Use any element to open the sidenav -->
            <!-- <li><span class="hamburger" onclick="openNav()">&#9776;</span></li> -->
    			</ul>
        </div>
  	</div>

    <div class="row">
      <div class="col col--12-of-12">
        <ul class="category">
          <li>All BIKES</li>
          <li>MOUNTAIN BIKES</li>
          <li>TREKKING BIKES</li>
          <li>ROAD BIKES</li>
          <li>CITY BIKES</li>
          <li>KIDS BIKES</li>
          <li>BIKES ON SALE</li>
        </ul>
      </div>
    </div>


<!-- SIDE NAV -->
    <!-- <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">Buy DCN</a>
      <a href="#">Wallet</a>
      <a href="#">Blog</a>
      <a href="#">Team</a>
      <a href="#">White paper</a>
      <a href="#">DCN press center</a>
      <a href="login.html">Log in</a>
      <button onclick="document.getElementById('id01').style.display='block'" class="sidebtnregister">Register</button>
    </div> -->

</nav>
